body {
  margin: 0;
  background-color: rgb(15,18,21);
  font-family: 'Courier New', Courier, monospace;
  color: white;
}
html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.topnav {
  display: flex;
  height: 5vh;
  flex: content;
  overflow: visible;
  text-align: center;
  align-items: center;
  background-color: rgb(30,33,38);
  margin-top: 2vh;
  margin-bottom: 30px;
  margin-left: 1vw;
  margin-right: 1vw;
  color: white;
  border-radius: 30px;
  box-shadow: 0px 0px 20px 5px rgb(41, 70, 70), inset 0px 0px 20px 5px rgb(41, 70, 70);
  position: relative;
  -moz-transition: 0.5s ease;
  transition: 0.5s ease;
  -moz-animation-name: topnavAnim;
  animation-name: topnavAnim;
  -moz-animation-duration: 2.7s;
  animation-duration: 2.7s; 
  vertical-align: middle;

  > #constant {
    background-color: rgb(32, 53, 53);
    box-shadow: 0px 0px 20px 5px rgb(41, 70, 70);
    margin-right: 25px;
    border-radius: 30px;
    position: relative;
    transition: 0.5s ease;
    animation-name: topnavAnim;
    animation-duration: 3s;
    color: white;
    float: left;
    padding: 1.8vh 2vw;
    text-decoration: wavy;
    font-size: 20px;
  }

  > #empty {
    padding: 5px;
  }

  > .active { 
    box-shadow: 0px 0px 20px 10px rgb(32, 53, 53); 
    padding: 1.8vh 2vh;
    margin-left: 5px;
    margin-right: 5px;
    position: relative; 
    transition: 0.5s ease;
    animation-name: topnavAnim; 
    text-decoration: underline;
    pointer-events: none;
    animation-duration: 2s; 
    background-color: rgb(42, 66, 66); 
    color: white;
    border-radius: 30px;
    font-size: 20px;
  }

  > .inactive {
    float: left;
    background-color: rgb(32, 53, 53);
    box-shadow: 0 0 10px 1px rgb(41, 70, 70);
    color: white;
    padding: 1.8vh 2vh;
    margin-left: 5px;
    margin-right: 5px;
    border-radius:30px;
    transition: transform 0.5s, box-shadow 0.5s;
    text-align: center;
    text-decoration: wavy;
    font-size: 20px;
  }
  > :hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 20px 10px rgb(41, 70, 70);
    border-radius: 30px;
    z-index: 101;
  }
}


.image {scale: 1.75; width: 2vh; height: auto; background-size: contain; justify-content: center}


.text {
  width: fit-content;
  margin-top: 16px;
  margin-left: 16px;
  font-size: 25px;
  opacity: 0;
  position: relative;
  transition: transform 0.5s ease;
  animation-duration: 1.5s;
  animation-name: fade-in;
  animation-fill-mode: forwards;
  width: fit-content;
}

.text p{
  visibility: hidden;
  position: relative;
  animation-duration: 1.5s;
  animation-name: nice_slide_left;
  animation-fill-mode: forwards;
  transition: all 0.5s ease;
}

.text li{
  visibility: hidden;
  position: relative;
  animation-duration: 1.5s;
  animation-name: nice_slide_left;
  animation-fill-mode: forwards;
  transition: all 0.5s ease;

}

.text li:hover {
  transform: scale(1.2);
  translate: 15%;
  text-shadow: 0px 0px 10px rgb(41, 70, 70);
}

.right_box {
  float: right;
  position: relative;
  padding: 10px 10px;
  height: 85vh;
  width: 25vw;
  margin-right: 2vw;
  word-wrap: normal;
  background: rgb(22, 46, 46);
  color: darkslategray;
  border-radius: 30px;
  visibility: hidden;
  animation-name: nice_slide_right;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;

  > .right_box_text {
    margin-left: 5px;
    font-size: 25px;
    float: left;
    position: relative;
    transition: transform 0.5s ease;
    animation-duration: 1.5s;
    animation-name: nice_slide_right;
    animation-fill-mode: forwards;
  } 
  > .kofi {
    display: flex;
    opacity: 0;
    margin-top: 16px;
    position: relative;
    animation-fill-mode: forwards;
    animation-name: slide_from_right_grid;
    animation-duration: 0.75s;
    animation-delay: 2.1s;
    height: 10%;
    width: fit-content;
    border-radius: 10px;
    transition: all ease 0.35s;
  }
}

.right_box .kofi:hover {
  scale: 1.2;
  translate: 10%;
  box-shadow: 0 0 16px #455d8f;
}

.right_box .right_box_text li{
  visibility: hidden;
  position: relative;
  animation-duration: 1.5s;
  animation-delay: 1s;
  animation-name: nice_slide_right;
  animation-fill-mode: forwards;
  transition: all 0.5s ease;
}

.right_box .right_box_text li:hover {
  transform: scale(1.2);
  translate: 15%;
  text-shadow: 0px 0px 10px rgb(61, 95, 95);
}

.notes_grid_container {
  opacity: 1;
  display: grid;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  column-gap: 2vw;
  height: 85vh;
  border-radius: 30px;
  align-items: center;
  padding: 10px;

  > .left_notes {
    display: flex;
    height: inherit;
    opacity: 0;
    width: 30vw;
    border-radius: inherit;
    position: relative;
    background-color: rgb(22, 46, 46);
    animation-name: slide_left_notes;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    animation-duration: 2s;
    transition: transform 0.5s ease;
  }
  > .center_notes {
    display: flex;
    position: relative;
    height: inherit;
    opacity: 0;
    width: 30vw;
    border-radius: inherit;
    background-color: rgb(22, 46, 46);
    animation-name: slide_up_notes;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    animation-duration: 2s;
    transition: transform 0.5s ease;
  }
  > .right_notes {
    display: flex;
    position: inherit;
    height: inherit;
    opacity: 0;
    width: 30vw;
    border-radius: inherit;
    background-color: rgb(22, 46, 46);
    animation-name: slide_right_notes;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    animation-duration: 2s;
    transition: transform 0.5s ease;

  }
}

.notes_grid_container .center_notes:hover {
  transform: scale(1.05);
}

.notes_grid_container .left_notes:hover {
  transform: scale(1.05);
}

.notes_grid_container .right_notes:hover {
  transform: scale(1.05);
}


.grid-container {
  opacity: 0;
  display: grid;
  position: relative;
  grid-template-columns: auto auto auto auto;
  margin-left: 10px;
  margin-right: 10px;
  row-gap: 2vh;
  justify-content: center;
  column-gap: 0.05vw;
  background-color: rgb(30, 51, 51);
  animation-name: fade-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition: 1.5s ease;
  padding: 10px;
  border-radius: 30px;
  
  > .grid-item-left {
    opacity: 0;
    margin: 10px;
    border-radius: 30px;
    width: 23.3vw;
    display: flex;
    position: relative;
    justify-content: center;
    transition: ease transform 0.5s, box-shadow 0.5s;
    animation-fill-mode: forwards;
    animation-name: slide_from_left_grid;
    animation-duration: 0.75s;
    background-color: #455d8f
  }

  > .grid-item-right {
    opacity: 0;
    margin: 10px;
    border-radius: 30px;
    width: 23.3vw;
    display: flex;
    position: relative;
    justify-content: center;
    transition: ease transform 0.5s, box-shadow 0.5s;
    animation-fill-mode: forwards;
    animation-name: slide_from_right_grid;
    animation-duration: 0.75s;
    background-color: #455d8f
  }

  > .grid-item-left_2 {
    margin-left: 10px;
    margin-right: 10px;
    opacity: 0;
    border-radius: 30px;
    height: 25vh;
    width: auto;
    display: flex;
    position: relative;
    justify-content: center;
    transition: ease transform 0.5s, box-shadow 0.5s;
    animation-fill-mode: forwards;
    animation-name: slide_from_left_grid_2;
    animation-duration: 0.75s;
    background-color: #455d8f
  }

  > .grid-item-right_2 {
    margin-left: 10px;
    margin-right: 10px;
    opacity: 0;
    border-radius: 30px;
    height: 25vh;
    width: auto;
    display: flex;
    position: relative;
    justify-content: center;
    transition: ease transform 0.5s, box-shadow 0.5s;
    animation-fill-mode: forwards;
    animation-name: slide_from_right_grid_2;
    animation-duration: 0.75s;
    background-color: #455d8f
  }
  > .grid-text {
    opacity: 0;
    display: block;
    margin-left: 16px;
    text-decoration: underline;
    position: relative;
    animation-name: slide_from_left;
    animation-duration: 1.3s;
    animation-fill-mode: forwards;
    color: white;
    text-shadow: 0px 0px 10px white;
  }
}

.social-grid {
  visibility: hidden;
  display: grid;
  position: relative;
  grid-template-columns: auto auto auto auto auto;
  height: 5vh;
  align-items: center;
  background-color: rgb(30, 51, 51);
  box-shadow: 0px 0px 10px 2px #455d8f;
  -moz-animation-name: nice_slide_right;
  animation-name: nice_slide_right;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  -moz-transition: 1.5s ease;
  transition: 1.5s ease;

  padding: 10px;
  border-radius: 30px;
  
  > .social-grid-item {
    opacity: 0;
    border-radius: 30px;
    height: 5vh;
    display: flex;
    position: relative;
    justify-content: center;
    -moz-transition: ease scale 0.5s, box-shadow 0.5s;
    transition: ease scale 0.5s, box-shadow 0.5s;
    -moz-animation-name: slide_from_right_grid;
    -moz-animation-duration: 0.75s;
    -moz-animation-delay: 5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-name: slide_from_right_grid;
    animation-duration: 0.75s;
    background-color: #ffffff00
  }
}

.social-grid .social-grid-item:hover {
  scale: 1.2;
  box-shadow: 0px 0px 10px 5px #455d8f;
}


/* Twitter widget*/
.right_widget {
  padding-top: 16px;
  display: flex;
  position: relative;
  float: right;
  word-wrap: normal;
  visibility: hidden;
  animation: nice_slide_right;
  border-radius: 12px;
  animation-duration: 2s; 
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

.grid-container a:hover{transform: scale(1.05); box-shadow: 0px 0px 10px 5px rgb(0, 0, 0);}

.social-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  border-radius: 30px;
  
}

.audiodiv {padding-left: 16px; padding-top: 10px; position: relative; animation-name: nice_slide_left; animation-duration: 2s} 


.grid-menu {
  opacity: 1;
  display: grid;
  position: relative;
  grid-template-columns: 70vw auto;
  margin-left: 10px;
  margin-right: 10px;
  row-gap: 2vh;
  column-gap: 0.05vw;
  align-items: center;
  transition: 1.5s ease;
  padding: 10px;
  border-radius: 30px;
  > .menu {
    display: block;
    visibility: hidden;
    height: 80vh;
    position: relative;
    animation-name: nice_slide_right;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    transition: 0.5s ease;
  }
}

.grid-menu .menu p {
  display: block;
  visibility: hidden;
  border-radius: 30px 0px 0px 30px;
  height: 50px;
  width: 70vh;
  padding-left: 20px;
  font-size: 30px;
  position: relative;
  background-color: rgb(30, 51, 51);
  animation-name: nice_slide_right;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  text-align: left;
  transition: 0.5s ease;
}

.grid-menu .menu p:hover {
  scale: 1.2;
  text-shadow: 0px 0px 5px white;
  box-shadow: 0px 0px 10px 5px rgb(30, 51, 51);
}

[data-tab-content] {
  display:none;
}

.active[data-tab-content] {
  display: block;
  opacity: 0;
  position: relative;
  border-radius: 30px;
  height: 80vh;
  width: 60vw;
  background-color: rgb(30, 51, 51);
  animation-name: slide_left_notes;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  padding-top: 10px;
  padding-left: 50px;
} 

.active[data-tab-content] p {
  visibility: hidden;
  position: relative;
  animation-name: nice_slide_left;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.vidmenu_container {
  display: grid;
  opacity: 0;
  position: relative;
  border-radius: 30px;
  justify-content: center;
  width: fit-content;
  column-gap: 5%;
  grid-template-columns: 50% 50%;
  row-gap: 2vh;
  animation-name: slide_from_left;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  margin-right: 0%;
  > .leftvid {
    grid-column: 1;
    display: flex;
    opacity: 0;
    position: relative;
    justify-content: center;
    width: 90%;
    height:100%;
    border-radius: 30px;
    animation: slide_from_left_grid;
    transition: all 0.5s ease;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  > .rightvid {
    grid-column: 2;
    display: flex;
    position: relative;
    opacity: 0;
    width: 90%;
    height:auto;
    border-radius: 30px;
    animation: slide_from_right_grid;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transition: all 0.5s ease;
  }
}

.vidmenu_container .leftvid:hover {
  scale: 1.2;
  z-index: 101;
}

.vidmenu_container .rightvid:hover {
  scale: 1.2;
  z-index: 101;
}

.notes_text{
  display: block;
  visibility: hidden;
  position: relative;
  animation-name: nice_slide_left;
  animation-duration: 1.5s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

.notes_text li{
  visibility: hidden;
  position: relative;
  font-size: 19px;
  animation-name: nice_slide_left;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

/* Keyframes go below here*/

@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}  
}

@keyframes slide_up_notes {
  0% {opacity: 0; filter: blur(10px); top: 20vw;}
  60% {box-shadow: 0px 0px 0px 0px rgb(22, 46, 46);}
  100% {opacity: 1; filter: blur(0px); top: 0vw; box-shadow: 0px 0px 30px 5px rgb(22, 46, 46);}
}

@keyframes slide_left_notes {
  from {filter: blur(10px); right:20vw}
  60% {box-shadow: 0px 0px 0px 0px rgb(22, 46, 46);}
  to {filter: blur(0px); opacity: 1; right: 0vh;  box-shadow: 0px 0px 30px 5px rgb(22, 46, 46);}
}

@keyframes slide_right_notes {
  from {filter: blur(10px); left: 20vw;}
  60% {box-shadow: 0px 0px 0px 0px rgb(22, 46, 46);}
  to {filter: blur(0px); opacity: 1; left: 0vw; box-shadow: 0px 0px 30px 5px rgb(22, 46, 46);}  
}

@keyframes nice_slide_left {
  0% {visibility: visible; filter: blur(10px); right:20vw; opacity: 0;}
  75% {right: -2vw; filter: blur(3px)}
  100% {visibility: visible; filter: blur(0px); right: 0vw; opacity: 1;}
}

@keyframes nice_slide_right {
  0% {visibility: visible; filter: blur(10px); left:40vw}
  75% {left: -2vw; filter: blur(3px);}
  100% {visibility: visible; filter: blur(0px); left: 0vw}
}

@keyframes topnavAnim {
  0% {filter: blur(10px) ; bottom: 20vh;}
  75% {opacity: 1; bottom: -1vh;}
  100% {filter: blur(0px); opacity: 1; bottom: 0vh;}
}

@keyframes slide_from_left {
  0% {opacity: 0; right:20vh}
  75% {opacity: 0.7; right: -5vh;}
  100% {opacity: 1; right: 0vh}
}

@keyframes slide_from_right {
  0% {left:20vh}
  75% {opacity: 0.7; left: -5vh;}
  100% {opacity: 1; left: 0vh}
}

@keyframes slide_from_left_grid {
  from {filter: blur(10px); right:10vw}
  to {filter: blur(0px); opacity: 1; right: 0px}
}

@keyframes slide_from_right_grid {
  from {filter: blur(10px); left:10vw}
  to {filter: blur(0px); opacity: 1; left: 0px}
}

@keyframes slide_from_left_grid_2 {
  from {right:10vh; filter: blur(10px)}
  to {opacity: 1; right: 0vh; filter: blur(0px);}
}

@keyframes slide_from_right_grid_2 {
  from {left:10vh; filter: blur(10px)}
  to {opacity: 1; left: 0vh; filter: blur(0px)}
}


@-moz-keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}  
}

@-moz-keyframes nice_slide_left {
  0% {visibility: visible; filter: blur(10px); right:50vw}
  75% {right: -2vw; filter: blur(3px)}
  100% {visibility: visible; filter: blur(0px); right: 0vw}
}

@-moz-keyframes nice_slide_right {
  0% {visibility: visible; filter: blur(10px); left:40vw}
  75% {left: -2vw; filter: blur(3px);}
  100% {visibility: visible; filter: blur(0px); left: 0vw}
}

@-moz-keyframes topnavAnim {
  0% {filter: blur(10px) ; bottom: 20vh;}
  75% {opacity: 1; bottom: -1vh;}
  100% {filter: blur(0px); opacity: 1; bottom: 0vh;}
}

@-moz-keyframes slide_from_left {
  0% {opacity: 0; right:20vh}
  75% {opacity: 0.7; right: -5vh;}
  100% {opacity: 1; right: 0vh}
}

@-moz-keyframes slide_from_right {
  0% {left:20vh}
  75% {opacity: 0.7; left: -5vh;}
  100% {opacity: 1; left: 0vh}
}

@-moz-keyframes slide_from_left_grid {
  from {filter: blur(10px); right:10vh}
  to {filter: blur(0px); opacity: 1; right: 0vh}
}

@-moz-keyframes slide_from_right_grid {
  from {filter: blur(10px); left:10vh}
  to {filter: blur(0px); opacity: 1; left: 0vh}
}

@-moz-keyframes slide_from_left_grid_2 {
  from {right:10vh; filter: blur(10px)}
  to {opacity: 1; right: 0vh; filter: blur(0px);}
}

@-moz-keyframes slide_from_right_grid_2 {
  from {left:10vh; filter: blur(10px)}
  to {opacity: 1; left: 0vh; filter: blur(0px)}
}