body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

.gallery-container {
    position: relative;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-content: space-evenly;
    margin-top: 5vh;
    height: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 15px;
    animation-name: gallery-container;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;



    > .gallery-menu {
        display: flex;
        grid-auto-columns: auto auto;
        align-content: center;
        width: 95%;
        height: 75vh;
        padding-top: 16px;
        padding-bottom: 16px;
        border-radius: 30px;
        box-shadow: 0 0 50px 5px slategrey, inset 0 0 20px 5px slategrey;
        > .gallery-item-right {
            opacity: 0;
            padding-top: 40px;
            padding-bottom: 40px;
            display: flex;
            position: relative;
            justify-content: center;
            animation-name: gallery-items-right;
            animation-duration: 1s;
            animation-delay: 1s;
            animation-fill-mode: forwards;
        }
        > .gallery-item-left {
            opacity: 0;
            padding-top: 40px;
            padding-bottom: 40px;
            position: relative;
            display: flex;
            justify-content: center;
            animation-name: gallery-items-left;
            animation-duration: 1s;
            animation-delay: 1s;
            animation-fill-mode: forwards;
        }
    }
}

.gallery-menu a {
    display: contents;
} 

.gallery-menu img {

    align-self: center;
    width: 80%;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.gallery-item-left img:hover {
    box-shadow: 0 0 7px 10px aliceblue;
    scale: 1.04;
}

.gallery-item-right img:hover {
    box-shadow: 0 0 7px 10px aliceblue;
    scale: 1.04;
}

@keyframes gallery-container {
    0% {top: 50px; opacity: 0;}
    100% {top: 0px; opacity: 1;}
}

@keyframes gallery-items-right {
    0% {right: 50px; filter:blur(20px); opacity: 0;}
    100% {right: 0px; filter:blur(0px); opacity: 1;}
}

@keyframes gallery-items-left {
    0% {left: 50px; filter:blur(20px); opacity: 0;}
    100% {left: 0px; filter:blur(0px); opacity: 1;}
}